.cardMember {
    --space: 10px;
    --widthPict: 40%;
    display: flex;
    padding: var(--space);
    width: 510px;
    height: 210px;
    border-radius: 5px;
    background-color: var(--colorConstrast);
    box-shadow: -1px 1px var(--boxShadowColor);
    margin: var(--space);
}

.pictMember {
    height: 100%;
    border-radius: 5px;
    width: var(--widthPict);
    object-fit: cover;
}

.memberContainer {
    --marginleft: 10px;
    margin-left: var(--marginleft);
    width: calc(100% - var(--widthPict) - var(--marginleft));
}

.lineMember {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
}

.emailMember{    
    line-break: anywhere;
}

.roleMember {
    font-weight: 600;
}

.lineMemberItem {
    margin-right: 5px;
}

@media (max-width:1023px) {
    .cardMember {
        --space: 23px;
        width: calc(100% - 4* var(--space));
        height: 510px;
    }

    .separator {
        display: none;
    }
}