.event {
    display: flex;
    border-radius: 1000px;
    padding: 2px;
    padding-left: 10px;
    max-width: fit-content;
    margin-bottom: 2px;
    box-shadow: -1px 1px var(--boxShadowColor);
}

.eventLine {
    display: flex;
}

.eventDate {
    min-width: 200px;
}

.eventHour {
    min-width: 100px;
}

.eventDistance {
    min-width: 150px;
}

.eventPlace {
    min-width: 200px;
}

.eventClub {
    display: flex;
    min-width: 200px;
}

.mainEventLine {
    display: flex;
}

.itemEvent {
    display: flex;
}

.labelMobiel {
    display: none;
}

@media (max-width:1023px) {
    .event {
        --marginLeft: 102px;
        display: block;
        padding: 10px;
        max-width: 100%;
    }

    .labelMobiel {
        display: block;
        margin-right: 10px;
    }

    .eventLine {
        width: calc(100%- var(--marginLeft));
        display: block;
        margin-left: var(--marginLeft);
    }

    .eventClub {
        margin-left: var(--marginLeft);
    }

    .itemEvent {
        width:100%;
    }
}