.event {
    width: calc(100% - 2 * var(--horizontalWrapperPadding));
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    gap:10px;
    padding: 5px var(--horizontalWrapperPadding);
}

.eventDate {
    grid-column: 1 / 4;
}

.eventHour {
    grid-column: 4;
    
}

.eventDistance {
    grid-column: 5 /9;
    
}

.eventPlace {
    grid-column: 9 / 12;
    
}

.eventClub {
    grid-column: 12 / 15;
    display: flex;
}

.mainEventLine {
    display: flex;
}

.itemEvent {
    display: flex;
    margin-left: var(--marginLeft);
    align-items: center;
}

.labelMobiel {
    display: none;
}

@media only screen and (max-width:1023px) and (orientation:portrait) {
    .event {
        border-radius: 100px;
        --marginLeft: 102px;
        display: block;
        padding: 10px;
        width: 100%;
    }

    .labelMobiel {
        display: block;
        color: var(--colorSecond);
    }

    .eventLine {
        width: calc(100%- var(--marginLeft));
        display: block;
        margin-left: var(--marginLeft);
    }

    .eventClub {
        margin-left: var(--marginLeft);
    }

    .itemEvent {
        width: calc(100% - var(--marginLeft));
        margin-bottom: 10px;
        display: block;
    }
}