.informations {
    margin-top: var(--heightHeader);
}

.reactContainer {
    margin-top: 42px;
    width: calc(100% - var(--widthMenu));
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width:1023px) and (orientation:landscape) {
    .reactContainer {
        width: 100%;
    }
}

@media only screen and (max-width:1023px) and (orientation:portrait) {
    .reactContainer {
        width: 100%;
    }
}