body {
    --widthMenu: 230px;
    --heightHeader: 51px;
    --colorMain: #FFA20C;
    --colorSecond: #00912C;
    --boxShadowColor: rgba(0,145,44,0.69);
    --colorBackground: var(--colorMain);
    --colorConstrast: rgba(240, 248, 255,0.9);
    --colorText: black;
    --colorTextConstrast: white;
    --widthClutch: 1023px;
    --paddingH2:23px;
    font-family: Verdana;
    margin: 0px;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--heightHeader);
    top: 0;
    width: 100%;
    color: var(--colorText);
    background-color: var(--colorBackground);
    z-index: 1;
}

.main {
    height: calc(100vh - var(--heightHeader));
    overflow: auto;
}

.backgroundLogo {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-image: url('https://www.marcheurs-dou-bi-de-rey.fr/asset/20210310_142258.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    padding: 10px;
    font-size: 1.5em;
    font-weight: 600;
    margin: 0px;
}

h2 {
    background-color: var(--boxShadowColor);
    margin: 0;
    padding:23px;
    font-size: 1.2em;
}

.titleHeader {
    font-weight: 600;
    padding:23px;
}

.generalMenu {
    position: fixed;
    top: var(--heightHeader);
    right: 0;
    width: var(--widthMenu);
    --paddingMenu: 10px;
    background-color: var(--colorTextConstrast);
    height: calc(100% - var(--heightHeader));
}

.logo {
    width:100%;
}

.generalMenu>a {
    text-decoration: none;
    color: inherit;
}

.itemMenu {
    padding: var(--paddingMenu);
    text-decoration: none;
    color: inherit;
    text-align: right;
    font-size: 17px;
    font-weight: 600;
    color: var(--colorText);
}

.itemMenu:hover {
    background-color: var(--colorConstrast);
    color: var(--colorDark);
}

.itemMenu::after {
    content: ">";
    margin: 0px 5px;
    transition: margin 0.25s ease;
}


.itemMenu:hover::after {
    margin-left: 10px;
    margin-right: 0px;
}

.titleMenu {
    padding: var(--paddingMenu);
    text-align: right;
    font-size: 17px;
    font-weight: 600;
    color: var(--boxShadowColor);
}

.textMenu {
    padding: var(--paddingMenu);
    text-align: right;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: var(--colorText);
    position: absolute;
    height: 4px;
    width: 30px;
    /* transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1); */
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}


@media only screen and (max-width:1023px) and (orientation:landscape) {
    .generalMenu {
        display: none;
        background-color: var(--colorBackground);
        width: auto;
        height: fit-content;
        overflow: auto;
        max-height: calc(100% - var(--heightHeader));
    }

    .menu-button-container {
        display: flex;
    }

    #menu-toggle:checked~.generalMenu {
        display: block;
    }

    .menu-button-container {
        --sizeButton:42px;
        --marginButton:12px;
        width: var(--sizeButton);
    }

    .menu-button,
    .menu-button::before,
    .menu-button::after {
        position: absolute;
        height: 5px;
        width: var(--sizeButton);
        /* transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1); */
        border-radius: 2px;
    }

    .menu-button::before {
        margin-top: calc(-1 * var(--marginButton));
    }

    .menu-button::after {
        margin-top: var(--marginButton);
    }

    .logo {
        display: none;
    }
}

@media only screen and (max-width:1023px) and (orientation:portrait) {
    body {
        --fontMobile: 42px;
        font-size: var(--fontMobile);
        --heightHeader: 102px;
    }

    main {
        height: fit-content;
    }

    h1 {
        font-size: 1.2em;
    }
    
    h2 {
        font-size: 1.1em;
    }

    .menu-button-container {
        display: flex;
    }

    .generalMenu {
        display: none;
        background-color: var(--colorBackground);
        width: auto;
        --paddingMenu: 42px;
        height: fit-content;
    }

    .logo {
        display: none;
    }

    .itemMenu {
        font-size: var(--fontMobile);
    }

    .titleMenu {
        font-size: var(--fontMobile);
    }

    #menu-toggle:checked~.generalMenu {
        display: block;
    }

    .menu-button-container {
        width: 69px;
    }

    .menu-button,
    .menu-button::before,
    .menu-button::after {
        position: absolute;
        height: 9px;
        width: 69px;
        /* transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1); */
        border-radius: 2px;
    }

    .menu-button::before {
        margin-top: -18px;
    }

    .menu-button::after {
        margin-top: 18px;
    }
}