.greyScreen {
    top: 0;
    left: 0;
    z-index: 1;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: var(--boxShadowColor);
    opacity: 0.69;
}

.modalGallery {
    top: 5%;
    left: 5%;
    z-index: 10;
    position: fixed;
    height: 90vh;
    width: 90vw;
    background-color: var(--colorConstrast);
    border-radius: 5px;
}

.modalHeader,
.modalScroll {
    --padding: 10px;
    --header: 32px;
}

.modalHeader {
    height: var(--header);
    width: calc(100% - 2*var(--padding));
    padding: 0 var(--padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    --numberElm: 3;
}

.headerElm {
    width: calc(100% / var(--numberElm));
    display: flex;
}

.downloadContainer {
    justify-content: left;
}

.closeContainer {
    justify-content: flex-end;height: 100%;
}

.modalCloseContainer {
    height: 100%;
    width: var(--header);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modalClose1,
.modalClose2 {
    display: block;
    background-color: var(--colorText);
    position: absolute;
    height: 3px;
    width: var(--header);
    /* transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1); */
    border-radius: 1px;
}

.modalClose1 {
    transform: rotate(405deg);
}

.modalClose2 {
    transform: rotate(-405deg);
}

.modalScroll {
    width: calc(100% - 2*var(--padding));
    height: calc(100% - var(--header));
    display: flex;
    flex-wrap: wrap;
    padding: 0 var(--padding);
    overflow: auto;
    justify-content: center;
    --imgPadding: 5px;
}

.imageContainer {
    width: 369px;
    max-height: 369px;
    padding: var(--imgPadding);
}

.imageErsatz {
    width: 379px;
}

.imageModal {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.galleryContainer:hover {
    cursor: pointer;
}

.imageFull {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.galleryDisplay {
    padding: 23px 23px 10px 23px;
    text-align: center;
    width: calc(100% - 46px);
}

.previewGallery {
    width: 100%;
    height: 180px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.previewImage {
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
}

.galleryContainer {
    --marginContainer: 23px;
    width: 320px;
    margin: var(--marginContainer);
    border-radius: 5px;
    box-shadow: -1px 1px var(--boxShadowColor);
    background-color: var(--colorConstrast);
    overflow: hidden;
}

.downloadButton {
    background-color: var(--colorBackground);
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: -1px 1px var(--boxShadowColor);
}

.downloadButtonDisabled {
    background-color: var(--boxShadowColor);
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: -1px 1px var(--boxShadowColor);
}

.controlcloseFull {
    --header: 32px;
    background-color: var(--colorConstrast);
    height: var(--header);
    width: var(--header);
    display: flex;
    align-items: center;
    cursor: pointer;
    position: absolute;
    right: 0;
}

.controlrightFull {
    background-color: var(--colorConstrast);
    display: flex;
    cursor: pointer;
    width: fit-content;
    padding: 10px;
    font-size: 23px;
    position: absolute;
    right: 0;
    top: calc(50vh - 22px);
}

.controlLeftFull {
    background-color: var(--colorConstrast);
    display: flex;
    cursor: pointer;
    width: fit-content;
    padding: 10px;
    font-size: 23px;
    position: absolute;
    left: 0;
    top: calc(50vh - 22px);
}

@media (max-width:1023px) {
    .galleryWrapper {
        width: 100%;
    }

    .galleryContainer {
        width: calc(100% - 2 * var(--marginContainer));
    }

    .previewGallery {
        height: 420px;
    }

    .modalHeader,
    .modalScroll {
        --header: 69px;
    }

    /* .modalScroll {
        flex-direction: column;
        flex-wrap: nowrap;
    } */

    .modalClose1,
    .modalClose2 {
        height: 6px;
    }

    .controlLeftFull,
    .controlrightFull,
    .controlcloseFull {
        display: none;
    }

    .imageContainer {
        width: 100%;
        max-height: 100%;
        padding-bottom: 5px;
    }

    .imageModal {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}