.greyScreen {
    top: 0;
    left: 0;
    z-index: 1;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: lightgray;
    opacity: 0.69;
}

.modalGallery {
    top: 5%;
    left: 5%;
    z-index: 10;
    position: fixed;
    height: 90vh;
    width: 90vw;
    background-color: aliceblue;
    border-radius: 5px;
}

.modalHeader,
.modalScroll {
    --padding:10px;
    --header: 23px;
}

.modalHeader {
    height: var(--header);
    width: calc(100% - 2*var(--padding));
    padding: 0 var(--padding);
    display: flex;
    justify-content: space-between;
}

.modalClose:hover {
    cursor:pointer;
}

.modalScroll {
    width: calc(100% - 2*var(--padding));
    height: calc(100% - var(--header));;
    padding: 0 var(--padding);
    overflow: auto;
}

.imageModal {
    width: 100%;
    padding-bottom: 5px;
}

.galleryDisplay:hover{
    cursor:pointer;
}

